<!DOCTYPE html>
<html>
<head>
    <title>Layout HTML Basic</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="main_wrapper">
    <div id="header">
        <img height="100px" width="100px" src="images/logo.png"/>
    </div>
    <div id="menu">
        <ul id="menu">MENU
            <li><a href="#">Cappuccino</a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ul>
    </div>
    <div id="main_content">
        <div id="left_sidebar">
            Left sidebar
        </div>
        <div id="right_sidebar">
            Right sidebar
        </div>
        <div id="content">
            Main Content
        </div>
        <div style="clear: both"></div>
    </div>
    <div id="footer">
        <p>Starbucks Bà Triệu</p>
        <p>Địa Chỉ<b>: 314 Phố Bà Triệu, P. Lê Đại Hành, Q. Hai Bà Trưng, Hà Nội</b></p>
        <p>Giờ mở cửa<b>: thứ Hai – CN: 07:00 – 23:00</b></p>
        <p>Điên thoại<b>: (024) 39781817</b></p>
    </div>
</div>
</body>
</html>